python-dotenv
ipywidgets
requests
numpy
pandas
openai
langchain
faiss-cpu
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
protobuf==3.20.3
datasets
sentencepiece
google.generativeai
anthropic
unstructured
chromadb
pydub
PyMuPDF
