python-dotenv
ipywidgets
requests
numpy
pandas
gensim
accelerate
sentencepiece
bitsandbytes
tqdm
openai
langchain
tiktoken
faiss-cpu
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
sentencepiece
google.generativeai
anthropic
unstructured
chromadb
pydub
PyMuPDF
